<div class="container small">
  <h2 class="section-title">Meet our Speakers</h2>
  <!-- http://davist11.github.io/css-diamond-grid/# -->

  <% speakers.forEach( function( speaker ) { %>
  <article class="speaker">
    <div class="speaker-info-section">
      <div class="speaker-photo-box">
        <div class="speaker-photo" style="background-image: url('/img/people/<%= speaker.img %>')">
        </div>
        <div class="attendee-img-shadow"></div>
        <div class="attendee-img-shadow-yellow"></div>
      </div>

      <div class="speaker-meta">
        <p class="speaker-name"><a href="/speakers/<%= speaker.shortname %>"><%= speaker.name %></a></p>
        <p class="speaker-affiliation"><%= speaker.affiliation %></p>
        <p class="speaker-session"><strong>Talk / </strong><a href="/speakers/<%= speaker.shortname %>"><%= speaker.title %></a></p>
      </div>
    </div>

    <div class="speaker-info">
      <p class="speaker-abstract"><%- speaker.abstract %></p>
      <h2 class="speaker-bio-title">About <%= speaker.nickname %></h2>
      <p class="speaker-bio"><%- speaker.bio %></p>
    </div>
  </article>
  <% }); %>

  <div class="page-button-container">
    <a class="page-button button" href="/speakers">View All Speaker Details</a>
  </div>
</div>
