<div class="container">
    <article>

    <div class="speaker-list">

        <div class="grid">

          <div class="grid-item grid-title">
            <div class="grid-inner"><a href="/speakers"><% if ( pageID !== 'schedule' ) { %><span>More</span> <% } %>Speakers</a></div>
          </div>

        <% listSpeakers.forEach( function( speaker ) { %>
        <div class="grid-item photo">
            <div class="grid-inner" style="background-image: url('/img/people/<%= speaker.img %>')">

                <div class="speaker-meta-box">
                    <div class="speaker-meta">
                        <a href="/speakers/<%= speaker.shortname %>">
                            <p class="speaker-name"><%= speaker.name %></p>
                        </a>
                        <p class="speaker-affiliation"><%= speaker.affiliation %></p>
                        <p class="speaker-details"><%= speaker.other %></p>
                    </div>
                </div>
            </div>
        </div>
        <% }); %>

    </div>

    </div>
    </article>
</div>
